@import '../../../../styles/mobile/variables';
@import '../../../../styles/mobile/mixins';

.tabsHome {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 2;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

.tabsHome + div a:first-child {
	margin-top: rem(45px);
}

.list{
	margin: rem(10px) rem(10px) 0px rem(10px);
	display: block;
	position: relative;
	min-height: 100px;
	font-size: 12px;
	img{
		width: 100%;
	}
}

.label{
	position: absolute;
	height: 100%;
	width: 100%;
	pointer-events: none;
	display: flex;
	justify-content: center;
	padding-left: 15px;
	text-transform: uppercase;
	top: 0px;
	left: 0px;
	color: color(--black);
	font-family: font-family('Lato-Regular');
	font-size: 12px;
}