@import '../../../../styles/mobile/variables';
@import '../../../../styles/mobile/mixins';

.list{
    margin: rem(10px) rem(10px) 0px rem(10px);
    display: flex;
    position: relative;
    height: 90px;
    img{
        width: 100%;
    }
}

.label{
    position: absolute;
    bottom: rem(10px);
    left: rem(10px);
    color: color(--black);
    font-family: font-family('Lato-Bold');
    font-size: map-get($font-size, --medium );
}