@import 'mixins';
@import 'variables';

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.card{
    color: color(black);
    background: #FFFFFF;
    box-shadow: 0 -3px 4px 0 rgba(239,239,239,0.50);
    border: 1px solid border(color);
    padding: rem(20px);
    position: relative;
    flex-grow: 1;
    outline: 0px;
    display: flex;
    flex-direction: column;
}

.radius{
    border-radius: border(radius);
}

.loading{
    position: relative;
    &:before {
        content: "";
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(255,255,255,0.7);
        z-index: 2;
		position: absolute;
    }
    &:after {
        content: "";
		animation: spin 500ms infinite linear;
		border: 3px solid color(yellow);
		border-radius: 50%;
		border-right-color: transparent;
		border-top-color: transparent;
		display: block;
		height: rem(30px);
		width: rem(30px);
		left: calc(50% - (30px / 2));
        top: calc(50% - (30px / 2));
        z-index: 2;
		position: absolute;
    }
}

.title{
    color: color(black);
    margin-bottom: rem(10px);
    @include font(medium);
}

.selected{
    border: 1px solid color(yellow);
    position: relative;
    &:before{
        position: absolute;
        top: 0px;
        right: 0px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent color(yellow) transparent transparent;
    }
    &:after{
        content: "\f00c";
        font-family: "FontAwesome", sans-serif;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        font-size: rem(12px);
        text-rendering: auto;
        font-style: normal;
        -webkit-font-smoothing: antialiased;   
        position: absolute;
        right: rem(3px);
        top: rem(1px);
    }
}

.mobile{
    margin-top: 10px;
    padding: 15px;
}

.mobile{
    flex-grow: 0;
    min-height: 125px;
}