@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container{
	order: 0;
}

.wrapper{
	height: rem(60px);
}

.subHeaderWrapper{
	height: rem(40px);
	margin-top: -1px;
}

.header, .search, .modal, .subHeader{
	min-height: rem(60px);
	position: fixed;
	max-width: $max-width-container;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	background: #fff;
	z-index: 2;
	top: 0px;
}

.subHeader{
	min-height: rem(40px);
	justify-content: flex-end;
	top: 59px;
}

.center{
	flex: 1;
	padding: 0px rem(10px);
	text-align: center;
	input{
		text-align: center;
	}
}

.dummyplaceholder{
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 15px;
	align-items: center;
	height: 30px;
	color: #A4A4A4;
	font-style: italic;
	font-family: font-family('lato-regular');
	font-size: 12px;

}

.modal{
	flex: 1;
	padding: 0px rem(15px);
	background: #FFFFFF;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
	> .center:not(.row){
		font-family: font-family('lato-regular');
		font-size: map-get($font-size, --medium );
		color: inherit;
		letter-spacing: 0.5px;
	}
	a{
		// color: inherit;
		// font-family: font-family('lato-bold');
		// font-size: map-get($font-size, --normal);
		// letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		display: inline-flex;
	}
}

.search{
	padding-left: 0px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
	input{
		text-align: left;
	}
	a{
		text-decoration: none;
	}
}

.back{
	padding: 0px rem(15px);
}

.disableShadow .modal{
	box-shadow: none;
	border: 0px;
}

.rows {
  box-shadow: none;
  border: 0px;
}

.transparent {
  color: #ffffff;
  font-weight: bold;
  background: transparent;
  border-bottom: 0;
  box-shadow: none;
  svg path {
	stroke: #ffffff;
  }
}
