.col{
    padding:0px 10px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px
}

@for $i from 1 through 12 {
    &.col-#{$i} {
        display: block;
        flex:none;
        padding:0px 10px;
        min-height: 1px;
        width: 100% / 12 * $i;
    }
}