@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container{
    position: relative;
}

.pagination{
    display: flex;
    margin-bottom: 10px;
}

.list{
    display: inline-flex;
}

.button{
    width: rem(5px);
    height: rem(5px);
    border-radius: 50%;
    background-color: #BFBFBF;
    margin: 0px 3px;
}

.active{
    background-color: color(--secondary);
    border-radius: 10px;
    width: rem(10px);
}

.arrowWrapperLeft {
    -webkit-border-top-right-radius: rem(10px);
    -webkit-border-bottom-right-radius: rem(10px);
    -moz-border-radius-topright: rem(10px);
    -moz-border-radius-bottomright: rem(10px);
    border-top-right-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
}

.arrowWrapperRight {
    -webkit-border-top-left-radius: rem(10px);
    -webkit-border-bottom-left-radius: rem(10px);
    -moz-border-radius-topleft: rem(10px);
    -moz-border-radius-bottomleft: rem(10px);
    border-top-left-radius: rem(10px);
    border-bottom-left-radius: rem(10px);
}

.arrowWrapper {
    transition: all 0.5s ease;
    margin-top: rem(-80px);
    width: rem(40px);
    height: rem(80px);
    padding: 0 20px;
    background: #EBEBEB;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.arrowWrapperPdp {
    transition: all 0.5s ease;
    width: rem(40px);
    height: rem(80px);
    padding: 0 20px;
    background: #EBEBEB;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

