@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container{
    position: relative;
}

.pagination{
    display: flex;
    margin-bottom: 10px;
}

.list{
    display: inline-flex;
}

.button{
    width: rem(5px);
    height: rem(5px);
    border-radius: 50%;
    background-color: #BFBFBF;
    margin: 0px 3px;
}

.active{
    background-color: color(--secondary);
    border-radius: 10px;
    width: rem(10px);
}

.arrow {
    background: rgba(0, 0, 0, 0.2) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…E2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+) no-repeat center;
    width: 20px;
    height: 34px;
    padding: 40px 30px;
}





