.Notification{
    background-color: #FF4136;
    position: fixed;
    width: 300px;
    color: #fff;
    left: 15px;
    bottom: 15px;
    animation: bottomUp 500ms linear;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.wrapper{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    align-items: flex-start;
    min-height: 60px;
    button{
        color: #fff;
    }
    span{
        display: block;
    }
}

@keyframes bottomUp {
	from {
		transform: translate(0px, 150%);
	}
	to {
		transform: translate(0px, 0%);
	}
}