@import '../../../styles/mobile/_variables.scss';
@import '../../../styles/mobile/_mixins.scss';

.container {
  all: initial;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  border: 0;
  outline: none;
  font-size: inherit;
  font-family: font-family('lato-normal');
  &[disabled] {
    opacity: .4;
  }
}

.styled{
  border: 1px solid transparent;
  font-family: font-family('lato-normal');
}

.wide {
  width: 100%;
}

.inline {
  flex: 0 1 auto;
}

.spinner {
  stroke: white;
}

.rounded {
  border-radius: map-get($border-radius , --medium);
}


/* Sizes */
.small {
  height: size(--small);
  font-size: size(--font-small);
  padding: 0px rem(10px);
  border-radius: size(--small);
}

.medium {
  height: rem(30px);
  font-size: size(--font-medium);
  padding: 0px rem(20px);
  border-radius: size(--medium);
  letter-spacing: 0.5px;
}

.large{
  height: size(--large);
  font-size: size(--font-large);
  padding: 0px rem(30px);
  border-radius: size(--large);
  letter-spacing: 0.5px;
}

.secondary{
  border-color: color(--primary);
  background-color: color(--primary);
  color: color(--white);
}

.primary{
  border-color: color(--secondary);
  background-color: color(--secondary);
  color: color(--white);
}

.transparent{
  opacity: 0.7;
}

.outline{
  background-color: color(--white);
  &.secondary{
    border-color: color(--primary);
    color: color(--primary);
  }

  &.primary{
    border-color: color(--secondary);
    color: color(--secondary);
  }
}


.facebook{
  background-color: #4267B2;
  color: #fff;
}

.google{
  background: #F8F8F8;
  border: 1px solid #DCDCDC;
}