@import '../../../../../styles/mobile/variables';
@import '../../../../../styles/mobile/mixins';

.commentbox{
    position: fixed;
    bottom: 0px;
    max-width: 480px;
    width: 100%;
    align-items: flex-end;
    background: #F9F9F9;
    border-top: 1px solid #D8D8D8;
    button {
		font-family: font-family('Lato-Bold');
		color: #191919;
	}
}

.commentboxGuest {
    @extend .commentbox;
    flex-direction: row;
    justify-content: initial;
}

.commentsBackground {
    position: fixed;
	background: #F5F5F5;
	height: 100%;
	width: 100%;
	top: 0;
	max-width: 480px;
}

.loadMore {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    margin: 10px 15px;
    button {
        font-family: font-family('Lato-Regular');
        height: 45px;
        color: #D8D8D8;
        justify-content: left;
    }
}