@import '../../../../styles/mobile/variables';
@import '../../../../styles/mobile/mixins';

.cardContainer {
	flex-flow: row wrap;
}

.cardCatalog {
	width: 100%;
}

.commentBlock {
	width: 100%;
	margin-top: rem(-15px);
	button {
		align-self: flex-start;
		font-family: font-family('Lato-Regular');
		padding: 0px rem(10px);
		font-size: 12px;
		color: #A4A4A4;
	}

	.sendButton {
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 7px;
		margin-left: 5px;
		font-family: font-family('Lato-Bold');
		color: #191919;
	}
}
