@import 'mixins';
@import 'variables';

@mixin inputStyle($inputColor){
	border-color: map-deep-get($color, $inputColor, base);
	color: map-deep-get($color, $inputColor, base);
	&:focus{
		border-color: map-deep-get($color, $inputColor, base);
	}
	+ .msg{
		color: map-deep-get($color, $inputColor, base);
	}
}

.inputWrapper{
	position: relative;
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0
	}
}

.input{
	background: #fff;
	background: #FFFFFF;
	border: 1px solid #C5C5C5;
	border-radius: 4px;
	font-size: 12px;
	color: #4A4A4A;
	height: 35px;
	padding: 0px 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	&:focus{
		outline: 0px;
		border: 1px solid rgba(0,0,0,0.5);
	}
}

.msg{
	margin-top: 5px;
	display: block;
}

.error{
	@include inputStyle(red);
}

.success{
	@include inputStyle(green);
}

.warning{
	@include inputStyle(yellow);
}