@import 'mixins';
@import 'variables';

@mixin inputStyle($inputColor){
	border-color: map-deep-get($color, $inputColor, base);
	color: map-deep-get($color, $inputColor, base);
	&:focus{
		border-color: map-deep-get($color, $inputColor, base);
	}
	+ .msg{
		color: map-deep-get($color, $inputColor, base);
	}
}

.inputWrapper{
	position: relative;
	width: 100%;
}

.input{
	background: #FFFFFF;
	border: 1px solid border(color);
	border-radius: border(radius);
	font-size: 12px;
	color: color(black);
	height: 35px;
	padding: 0px 15px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	&:focus{
		outline: 0px;
		border: 1px solid border(color, hover);
	}
}

.message{
	margin-top: 5px;
	display: block;
	font-size: 10px;
	text-align: right;
}

.error{
	@include inputStyle(red);
	+ .message{
		color: color(red);
	}
}

.success{
	@include inputStyle(green);
}

.warning{
	@include inputStyle(yellow);
}

.small{
	height: 27px;
}

.medium{
	height: 35px;
}

.large{
	height: 45px;
}

.horizontal{
	display: flex;
	align-items: center;
	label{
		margin-bottom: 0px;
		width: 40%;
		display: block;
	}
}