.image{
	display: table;
	margin: 0 auto;
	border: 0px;
	figure{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}	
}