.control {
	width: 100%;
	position: relative;
}

.searchLocationInput {
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
	z-index: 2;
	padding: 10px 10px 0px 10px;
}

.centerMarker{
	width: 120px;
	height: 50px;
	display: inline-block;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	background-repeat: no-repeat;
	margin-left: -60px;
	margin-top: -50px;
}
