@import 'mixins';
@import 'variables';

.InputGroup{
	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.addons{
	flex-direction: row;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	> *:not(:last-child) {
		margin-right: -1px;
	}
	button, input, select, > div{
		border-radius: 0px;
	}
	> *:first-child{
		border-bottom-left-radius: border(radius);
    	border-top-left-radius: border(radius);
		button, input, select, > div{
			border-bottom-left-radius: border(radius);
    		border-top-left-radius: border(radius);
		}
	}

	> *:last-child{
		border-bottom-right-radius: border(radius);
    	border-top-right-radius: border(radius);
		button, input, select, > div{
			border-bottom-right-radius: border(radius);
    		border-top-right-radius: border(radius);
		}
	}
}