.cart{
	// padding: 0px 15px;
	padding-left: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
	background: #fff;
}

.totalPayment{
	background: #fff;
	height: 60px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #DBDBDB;
	padding: 0px 15px;
}

.paymentLink{
	order: 5;
	> div{
		height: 110px;
		> div{
			z-index: 10;
			position: fixed;
			background: #fff;
			height: 110px;
			bottom: 0px;
			max-width: 480px;
		    width: 100%;
			button{
				color: #fff;
				text-transform: uppercase;
				position: relative;
				display: flex;
				// height: 50px;
				justify-content: center;
				align-items: center;
				width: 100%;
				span{
					position: absolute;
					right: 15px;
					height: 100%;
					align-items: center;
					top: 0px;
				}
				svg {
					transform: scale(0.7);
					path{
						stroke: #fff;
					}
				}
			}
		}
	}
}
