@import 'mixins';
@import 'variables';

.eLockerList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #FAFAFA;
    border: 1px solid border(color);
    border-radius: border(radius);
    padding: 5px;
    min-height: 344px;
    max-height: 344px;
    overflow: auto;
    margin-bottom: 15px;
    > div{
        width: 31.8%;
        flex:0 1 auto;
        display: block;
        margin:5px;
        height: rem(145px);
        cursor: pointer;
    }
}

.header{
	display: flex;
	margin-bottom: 15px;
}

.provinsiWrapper{
	width: 300px;
	display: block;
}

.kotaFilterWrapper{
	flex:1;
	padding-left: 20px;
}