@import 'mixins';
@import 'variables';

.box{
    position: relative;
    background: #fff;
    border:1px solid border(color);
    border-top-left-radius: border(radius);
    border-top-right-radius: border(radius);
    flex:1;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

.red{
    border-color: color(red);
}

.header{
    display: flex;
    background: #FAFAFA;
    border-top-left-radius: border(radius);
    border-top-right-radius: border(radius);
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    border-bottom:1px solid border(color);
}

.name{
    color: #7F7F7F;
    flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location{
    color: color(black);
    font-size: 11px;
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i{
        margin-right: 5px;
    }
}