@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container{
    background: #F3F3F3;
    height: rem(45px);
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0px 15px;
}

.close{
    position: absolute;
    right: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: rem(10px);
}

.pink{
    background-color: #FFE6E6;
}
.blue{
    background-color: #D7ECF7;
}
.yellow{
    background-color: #FFECD5;
}

.green{
    background-color: #E0EFD8;
    color: #64BE64;
}