@import 'mixins';
@import 'variables';

@mixin inputStyle($inputColor){
	border-color: map-deep-get($color, $inputColor, base);
	color: map-deep-get($color, $inputColor, base);
	&:focus{
		border-color: map-deep-get($color, $inputColor, base);
	}
	+ .msg{
		color: map-deep-get($color, $inputColor, base);
	}
}

.TextareaWrapper{
	position: relative;
}

.horizontal{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	label{
		margin-bottom: 0px;
		width: 30%;
		display: block;
	}
	.Textarea{
		flex: 1;
	}
	.message{
		flex: 0 0 100%;
	}
}

.Textarea{
	background: #fff;
	background: #FFFFFF;
	border: 1px solid border(color);
	border-radius: border(radius);
	font-size: 12px;
	color: color(black);
	min-height: 40px;
	resize: vertical;
	padding: 10px 15px;
	display: block;
	width: 100%;
	justify-content: space-between;
	&:focus{
		outline: 0px;
		border: 1px solid border(color, hover);
	}
}

.message{
	margin-top: 5px;
    display: block;
    font-size: 10px;
    text-align: right;
}

.red{
	@include inputStyle(red);
}

.green{
	@include inputStyle(green);
}

.yellow{
	@include inputStyle(yellow);
}

// SIZE
.small{
	height: rem(40px);
	~ .sprites, 
	~ .icon{
		height: 27px;
	}
}

.medium{
	height: rem(60px);
	~ .sprites, 
	~ .icon{
		height: 35px;
	}
}

.large{
	height: rem(90px);
	~ .sprites, 
	~ .icon{
		height: 45px;
	}
}


.sprites, .icon{
	position: absolute;
	right: 10px;
	top: 0px;
	height: 100%;
	display: flex;
    align-items: center;
}