@import 'mixins';
@import 'variables';

@mixin inputStyle($inputColor){
	border-color: map-deep-get($color, $inputColor, base);
	color: map-deep-get($color, $inputColor, base);
	&:focus{
		border-color: map-deep-get($color, $inputColor, base);
	}
	+ .msg{
		color: map-deep-get($color, $inputColor, base);
	}
}

.inputWrapper{
	position: relative;
	width: 100%;
}

.input{
	background: #FFFFFF;
	border: 1px solid border(color);
	border-radius: border(radius);
	font-size: 12px;
	color: color(black);
	height: 35px;
	padding: 0px 15px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	&:focus{
		outline: 0px;
		border: 1px solid border(color, hover);
	}
}

.sprites{
	position: absolute;
	right: 10px;
	height: 35px;
	top: 0px;
	display: flex;
    align-items: center;
}

.payment-option{
	padding-right: 90px;
}

// VARIANT
.green{
	@include inputStyle(green);
	+ .message{
		color: color(green);
	}
}

.yellow{
	@include inputStyle(yellow);
	+ .message{
		color: color(yellow);
	}
}

.red{
	@include inputStyle(red);
	+ .message{
		color: color(red);
	}
}


// END VARIANT

// SIZE
.small{
	height: 27px;
	~ .sprites{
		height: 27px;
	}
}

.medium{
	height: 35px;
	~ .sprites{
		height: 35px;
	}
}

.large{
	height: 45px;
	~ .sprites{
		height: 45px;
	}
}
// END SIZE
label{
	~ .sprites{
		top: 20px;
	} 
}

// Boolean

.message{
	margin-top: 5px;
	display: block;
	font-size: 10px;
	text-align: right;
}

.horizontal{
	display: flex;
	label{
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		margin-right: rem(10px);
		text-align: left;
		padding-top: rem(10px);
	}
	input{
		flex: 1;
	}
}

.inputBody{
	display: flex;
	flex-basis: 0;
	flex-grow: 4;
	flex-shrink: 1;
	flex-direction: column;
	position: relative;
}