@import 'mixins';
@import 'variables';

.Select{
	position: relative;
	:global{
		.icon-sort-asc{
			font-size: 14px;
		}
		.icon-sort-desc{
			font-size: 14px;
			top: -2px;
			position: relative;
		}
	}
}

.quickFilter{
	padding: 0px 15px;
}

.selectedContainer{
	position: relative;
	display: flex;
	flex-basis: 0;
	flex-grow: 3;
	flex-shrink: 1;
	flex-direction: column;
	position: relative;
}

.horizontal{
	display: flex;
	label{
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		margin-right: rem(10px);
		text-align: left;
		padding-top: rem(10px);
	}
	selectedContainer{
		flex: 1;
	}
}

.previewLabel{
	background: #FFFFFF;
	border: 1px solid border(color, hover);
	font-family: HelveticaNeueLTStd-Roman;
	height: 35px;
	min-width: 90px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: color(black);
	padding: 0px 15px 0px 15px;
	flex-wrap: wrap;
	border-radius: border(radius);
	img{
		height: 14px;
		width: auto;
	}
	i{
		display: inline-block;
	}

	.flex{
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.text{
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 10px;
		flex: 1;
		justify-content: space-between;
		display: flex;
		align-content: center;
	}
}


.listData{
	background: #fff;
	padding: 5px 0px 10px 0px;
	border: 1px solid #C5C5C5;
	border-bottom-left-radius: border(radius);
	border-bottom-right-radius: border(radius);
	position: absolute;
	top: 35px;
	left: 0px;
	margin-top: -1px;
	z-index: 1;
	display: none;
	&.shown{
		display: block;
		min-width: 100%;
	}
	.flex{
		padding: 15px;
		width: 100%;
		flex-direction: column;
	}
	.text{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 1;
		flex:1;
		padding-right: 8px;
		white-space: nowrap;
	}
	button{
		padding: 0px;
		width: 100%;
		&.selected{
			.flex{
				background-color: #f5f5f5;
			}
		}
	}
	> button{
		padding: 15px;
	}
}

.flex{
	display: flex;
}

.top{
	.listData{
		top: auto;
		bottom: 100%;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-left-radius: border(radius);
		border-top-right-radius: border(radius);
		border-top: 1px solid #C5C5C5;
		border-bottom: 0px;
		margin-top: 0px;
		margin-bottom: -1px;
	}
}

.red{
	.previewLabel, .listData{
		border-color: color(red);
	}
	.message, .icon{
		color: color(red);
	}
}
.green{
	.previewLabel, .listData{
		border-color: color(green);
	}
	.message, .icon{
		color: color(green);
	}
}
.yellow{
	.previewLabel, .listData{
		border-color: color(yellow);
	}
	.message, .icon{
		color: color(yellow);
	}
}

.message{
	margin-top: 5px;
	display: block;
	font-size: 10px;
	text-align: right;
}


.overflow{
	max-height: 220px;
	overflow-y: auto;
	margin-top: 10px;
	.flex{
		padding: 10px;
		width: 100%;
		color: color(black);
		position: relative;
		@include font(medium);
		padding: 10px 15px;
		.text{
			white-space: normal;
			text-align: left;
			line-height: 1.2;
		}
		img{
			height: 14px;
			width: auto;
		}
		.info{
			@include font(normal);
			color: #7F7F7F;
			font-size: 10px;
			text-align: left;
			margin: 5px 0px;
			padding-right: 60px;
		}
		.optionMessage{
			@include font(normal);
			color: color(red);
			text-align: left;
			font-size: 10px;
		}
		&:hover{
			background-color: #f5f5f5;
		}
	}
}

.overlay{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	z-index: -1;
	display: none;
}

.shown{
	.overlay{
		display: block;
		z-index: 11;
	}	
	.selectedContainer{
		z-index: 12;
	}
	.previewLabel{
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom: 0px;
		position: relative;
		z-index: 2;
	}
	&.top{
		.previewLabel{
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-top: 0px;
			border-bottom: 1px solid #C5C5C5;
			position: relative;
			z-index: 2;
		}
	}
}