*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin colorStyle($buttonColor){
	color:$buttonColor;
	&:hover{
		color: darken($buttonColor, 20%);
	}
	&:not(a){
		&:hover{
			color: $buttonColor;
		}
	}
}

:global body{
	::-webkit-scrollbar {
		width:8px;
	}

	::-webkit-scrollbar-track {
		border-radius:5px;
		background:rgba(0,0,0,0);
	}

	::-webkit-scrollbar-thumb {
		border-radius:5px;
		background:rgba(0,0,0,0.2);
	}

	::-webkit-scrollbar-thumb:hover {
		background:rgba(0,0,0,0.4);
	}

	::-webkit-scrollbar-thumb:window-inactive {
		background:rgba(0,0,0,0.05);
	}

	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	input[type=number] {
		-moz-appearance:textfield;
	}
	
	#root, 
	#root > main,
	.page{
		height: 100%;
	}

	.font-red{
		@include colorStyle(color(red));
	}

	.font-green{
		@include colorStyle(color(green));
	}

	.font-orange{
		@include colorStyle(color(orange));
	}
	.font-grey{
		@include colorStyle(color(grey));
	}
	.font-small{
		font-size: 10px;
	}
	.text-right{
		text-align: right;
	}
	.text-center{
		text-align: center;
	}
	.text-left{
		text-align: left;
	}
	.pull-left{
		float: left;
	}
	.pull-right{
		float: right;
	}
	.text-elipsis{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
	}
	.u-hidden {
		display: none;
	}
}
