*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
    font-size: 62.5%;
	height: 100%;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body{
	height: 100%;
    background-color: #f5f5f5;
    color: #a7a7a7;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    @include font(normal);
}

button{
    background: transparent;
    border: 0px;
    padding: 0px;
    line-height: 1.4;
    cursor: pointer;
    outline: 0px;
}