*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin colorStyle($buttonColor){
	color:$buttonColor;
	&:hover{
		color: darken($buttonColor, 20%);
	}
	&:not(a){
		&:hover{
			color: $buttonColor;
		}
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

::selection {
	background: color(gray);
	color: #fff;
	text-shadow: none;
}

html {
    font-size: $html-font-size;
	height: 100%;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul, ol{
	padding-left: 15px;
	&:last-child{
		margin-bottom: 0;
	}
	li{
		margin-bottom: 5px;
	}
}

hr{
    height: 1px;
    border: 0;
    border-top: 1px solid #EBEBEB;
    padding: 0;
}

body{
	height: 100%;
    background-color: #f5f5f5;
    color: color(black);
    font-weight: 300;
    font-size: $body-font-size;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    @include font(normal);
}

a {
	color: color(black);
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		color: color(black, hover);
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
}

button{
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: 0px;
}

label{
    margin-bottom: 5px;
    display: block;
}

:global body{
	::-webkit-scrollbar {
		width:8px;
	}

	::-webkit-scrollbar-track {
		border-radius:5px;
		background:rgba(0,0,0,0);
	}

	::-webkit-scrollbar-thumb {
		border-radius:5px;
		background:rgba(0,0,0,0.2);
	}

	::-webkit-scrollbar-thumb:hover {
		background:rgba(0,0,0,0.4);
	}

	::-webkit-scrollbar-thumb:window-inactive {
		background:rgba(0,0,0,0.05);
	}

	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	input[type=number] {
		-moz-appearance:textfield;
	}
	
	#root, 
	#root > main,
	.page{
		height: 100%;
	}

	.font-red{
		@include colorStyle(color(red));
	}

	.font-green{
		@include colorStyle(color(green));
	}

	.font-orange{
		@include colorStyle(color(orange));
	}
	.font-grey{
		@include colorStyle(color(grey));
	}
	.font-small{
		font-size: 10px;
	}
	.text-right{
		text-align: right;
	}
	.text-center{
		text-align: center;
	}
	.text-left{
		text-align: left;
	}
	.pull-left{
		float: left;
	}
	.pull-right{
		float: right;
	}
	.customSelectO2OWrapper{
		position: relative;
	}
	.customSelectO2O{
		position: absolute;
		top: 25px;
		left: 36px;
		width: 76%;
		background: #fff;
		z-index: 12;
		pointer-events: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.text-elipsis{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
	}
}
