@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

@mixin font-face-woff2($name, $path, $filename: $name, $weight: normal, $style: normal) {

	@font-face {
		font-family: $name;
		font-weight: $weight;
		font-style: $style;
		src:
			url('#{$path}/#{$filename}/#{$filename}.woff2') format('woff2'),
			url('#{$path}/#{$filename}/#{$filename}.woff') format('woff');
	}
}

@mixin font-face($prefix, $path: '../assets/fonts/') {

	@font-face {
		font-family: $prefix;
		font-weight: normal;
		font-style: normal;
		src: url($path + $prefix + '/' + $prefix + '.eot');
		src:
			url($path + $prefix + '/' + $prefix + '.woff2') format('woff2'),
			url($path + $prefix + '/' + $prefix + '.woff') format('woff'),
			url($path + $prefix + '/' + $prefix + '.ttf') format('truetype'),
			url($path + $prefix + '/' + $prefix + '.svg#' + str-replace($prefix, '-', '')) format('svg');
	}
}

@mixin map-to-style($object) {
	@each $property, $value in $object {
		#{$property}: $value;
	}
}

@mixin font($weight) {
	@include map-to-style(map-deep-get($typography, font-family, $weight));
}
