// <html> and <body> font sizes
$html-font-size: 62.5%;
$body-font-size: 12px;
$em-base: 16;

// Multiplier for REM Mixin
// It needs to stay the same size as <html> font size, but in pixels
$base-font-size: 10px !default;

// Whether to output fallback values in px when outputting rems.
$rem-with-px-fallback: false !default;

$typography: (
	font-family: (
		normal: (
			font-family: ('HelveticaNeueLTStd-Roman', sans-serif)
		),
		medium: (
			font-family: ('HelveticaNeueLTStd-Md', sans-serif)
		),
		bold: (
			font-family: ('HelveticaNeueLTStd-Bd', sans-serif)
		),
		fontawesome: (
			font-family: ('FontAwesome', sans-serif)
		)
	),
	size: (
		xs: (
			font-size: 0.75rem,
			line-height: 1.5
		),
		sm: (
			font-size: 0.875rem,
			line-height: 1.3
		),
		md: (
			font-size: 1.125rem,
			line-height: 1.2
		),
		lg: (
			font-size: 1.5rem,
			line-height: 1.8
		),
		xl: (
			font-size: 3rem,
			line-height: 1
		)
	)
);

$color: (
	green: (
		base: #64BE64,
		hover: darken(#64BE64, 10%)
	),
	red: (
		base: #C40000,
		hover: darken(#C40000, 10%)
	),
	yellow: (
		base: #fead14,
		hover: darken(#fead14, 10%)
	),
	orange: (
		base: #F57E24,
		hover: darken(#F57E24, 10%)
	),
	brown: (
		light: (
			base: #FEF5EA,
			hover: darken(#FEF5EA, 10%)
		),
		darker: (
			base: #AF9F74,
			hover: darken(#AF9F74, 10%)
		)
	),
	black: (
		base: #4A4A4A,
		hover: darken(#4A4A4A, 10%)
	),
	gainsboro: (
		base: #F5F5F5,
		hover: darken(#F5F5F5, 10%)
	),
	lightgray: (
		base: #C5C5C5,
		hover: darken(#C5C5C5, 10%)
	),
	grey: (
		base: #7F7F7F,
		hover: darken(#7F7F7F, 10%)
	)
);

$alertColor: (
	yellow: (
		base: #FEF5EA,
		darker: #AF9F74
	),
	red: (
		base:#F2DEDF,
		darker: #DFA4A4
	),
	green: (
		base: #64BE64,
		hover: darken(#64BE64, 10%)
	),
);

$border: (
	radius: (
		base: 4px,
		small: 3px
	),
	color: (
		base: #DEDEDE,
		hover: #C5C5C5
	)
);
