/**
 * MatahariMall React Redux Components
 */
@import 'mixins';
@import 'variables';
@import 'normalize.css/normalize';
@import 'base';
@import 'typography';

.sprites { 
	background-image: url('/assets/images/sprites.png'); 
	background-position: top left;
	background-repeat: no-repeat;
	width: 15px; 
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}