@import 'mixins';
@import 'variables';


.header{
	display: flex;
}

.desc{
	font-size: 10px;
	padding-left: 7px;
	color: color(orange);
}

.googleMap{
	height: 300px;
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.mapLocationName{
	background: #FFFFFF;
	padding: 5px 10px;
	border: 1px solid #DEDEDE;
	border-bottom-left-radius: border(radius);
	border-bottom-right-radius: border(radius);
	margin-bottom: 15px;
}

.marker{
	background: red;
	display: block;
	position: relative;
	z-index: 10;
}