@import 'mixins';
@import 'variables';


.header{
	display: flex;
}

.desc{
	font-size: 10px;
	padding-left: 7px;
	color: color(orange);
}

.googleMap{
	height: 250px;
	position: relative;
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.mapLocationName{
	background: #FFFFFF;
	padding: 5px 10px;
	border: 1px solid #DEDEDE;
	border-bottom-left-radius: border(radius);
	border-bottom-right-radius: border(radius);
	margin-bottom: 15px;
}

.marker{
	background: red;
	display: block;
	position: relative;
	z-index: 10;
}

.markerLabel{
	background: color(orange);
	color: #fff;
	border-radius: border(radius);
	width: rem(130px);
    text-align: center;
    height: rem(27px);
	line-height: rem(27px);
	position: relative;
	// left: -55px;
}

.pinpoint{
	position: relative;
	// left: -10px;
	// top: -47px;
	text-align: center;
	i{
		font-size: rem(30px);
		color: #7F7F7F;
		position: relative;
    	top: -8px;
	}
}