@import 'mixins';
@import 'variables';

.CheckboxWrapper{
	position: relative;
	cursor: pointer;
	display: flex;
    align-items: center;
	line-height: 1;
	margin-bottom: rem(15px);
	&:last-child{
		margin-bottom: 0;
	}
}

.Checkbox{
	display: inline-block;
	position: absolute;
    z-index: -1;
	opacity: 0;
	pointer-events: none;
}

.sprites, .icon{
   margin-left: 10px;
}

.disabled{
	cursor: not-allowed;
	.checkboxText{
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.Checkbox:checked + .checkboxInput{
	background-color: color(black);
	border-color: color(black);
	&:after{
		content: "";
		position: absolute;
		left: 3px;
		top: 0px;
		width: 5px;
		height: 8px;
		border: solid #fff;
		display: block;
		border-width: 0px 2px 2px 0;
		transform: rotate(45deg);
	}
}

.checkboxInput{
	width: rem(13px);
    height: rem(13px);
    display: inline-block;
    vertical-align: middle;
	margin-right: rem(10px);
    border-radius: border(radius);
    border: 1px solid #c5c5c5;
    position: relative;
	background-color: #fff;
}

.checkboxText{
	opacity: 0.7;
	cursor: pointer;
}

.Checkbox:checked ~ .checkboxText{
	opacity: 1;
}

.voucherCode{
	padding-right: 30px;
}