.container{
    flex-flow: row wrap;
    padding: 20px 25px;
    justify-content: space-between;
    > div{
        width: 100%;
    }
}

.list{
    > button{
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Lato-Regular';
        font-size: 11px;
        color: #888888;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        > span{
            display: block;
            margin-bottom: 15px;
        }
    }
}