.content{
	position: fixed;
	top: 0px;
	left: 0px;
  	right: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 40px;
  	margin-right: auto;
  	margin-left: auto;
  	max-width: 480px;
}

.wrapper{
	background: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.30);
	border-radius: 8px;
	font-size: 13px;
	color: #191919;
	padding: 20px;
	max-width: 480px;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0px;
	outline: 0px;
	border-radius: 0px;
}

.action{
	font-family: Lato-Regular;
	flex-direction: row;
	border-top: 1px solid #D8D8D8;
	margin: 0px -20px -20px -20px;
	height: 50px;
	> button, > *{
		flex: 1;
		height: 50px;
		align-items: center;
		font-family: Lato-Regular;
		border-radius: 0px;
		&:not(:last-child){
			border-right: 1px solid #D8D8D8;
		}
	}
}

.bottom{
	justify-content: flex-end;
	padding: 0px;
	.wrapper{
		width: 100%;
		padding: 0px;
		border-radius: 8px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}
