.modalWrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0px;
    right: 0;
    background: #fff;
    z-index: 9;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
}

.close{
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 14px;
    color: #4A4A4A;
    z-index: 1;
}

.disableOverflow{
    overflow: hidden;
}

.clean{
    > div:nth-child(1){
        background: #fff;
        text-align: center;
        font-size: 20px;
        flex-direction: column;
        padding: 15px;
        padding-top: 70px;
        small{
            font-size: 15px;
        }
    }
    > div:nth-child(2){
        flex: none;
    }
    > div:nth-child(3){
        background: #fff;
        border: 0px;
        box-shadow: none;
    }
}