@import '../../../../../styles/mobile/variables';
@import '../../../../../styles/mobile/mixins';

.cardContainer{
    flex-flow: row wrap;
}

.cardCatalog{
    width: 100%;
}

.commentBlock{
    width: 100%;
    margin-top: rem(-15px);
    button{
        align-self: flex-start;
        font-family: font-family('Lato-Regular');
        padding: 0px rem(10px);
        font-size: 12px;
        color: #A4A4A4;
    }
}

.loadmore{
    width: 70%;
    margin: rem(20px) auto;
}

.fixed{
    position: fixed;
    width: 100%;
    top: rem(60px);
    z-index: 11;
}