.fixed {
	position: fixed;
	width: 100%;
	top: rem(60px);
	z-index: 11;
}

.cardContainer {
	flex-flow: row wrap;
}

.textOnlyShowTwoLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
