@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

/* Reset */
.container {
	all: initial;
}

/* Styles */
.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	list-style: none;
	justify-content: space-around;
	align-content: center;
	background: #fff;
}

.tab {
	display: inline-flex;
	height: rem(30px);
	user-select: none;
	flex: 1;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	font-family: font-family('Lato-Regular');
	color: #A4A4A4;
	font-size: 13px;
}

.active {
	cursor: default;
	border-bottom: 1px solid black;
	color: black;
}

.segment{
	li:not(:last-child) {
		position: relative;
		overflow-y: hidden;
		font-family: font-family('Lato-Regular');
		color: color(--primary);
		font-size: 13px;
		&:after{
			content: '\2807';
			font-size: 15px;
			width: 5px;
			height: 100%;
			position: absolute;
			right: 0px;
			top: -1px;
		}	
	}
	li:last-child{
		padding: 0px rem(20px);
		flex: none;
	}
}