@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

/* Reset */
.container {
	all: initial;
}

/* Styles */
.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	list-style: none;
	justify-content: space-around;
	align-content: center;
	background: #fff;
	// margin-top: -1px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
}

.tab {
	display: inline-flex;
	height: rem(35px);
	padding-top: rem(5px);
	user-select: none;
	flex: 1;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	font-family: font-family('Lato-Regular');
	color: #A4A4A4;
	font-size: 13px;
	border-bottom: 1px solid #D8D8D8;
}

.sticky{
	position: fixed;
	top: 60px;
	z-index: 1;
	background: #fff;
	width: 100%;
	max-width: 480px;
}

.active {
	cursor: pointer;
	color: black;
}

li.disabled {
	span{
		color: #f3f3f3;
	}
}

.segment{
	li:not(:last-child) {
		position: relative;
		font-family: font-family('Lato-Regular');
		color: color(--primary);
		font-size: 13px;
		padding-top: 0px;
		&:after{
			content: '\2807';
			font-size: 15px;
			width: 5px;
			height: 100%;
			position: absolute;
			right: 0px;
			overflow: hidden;
			top: -1px;
		}
	}
	li:last-child{
		padding: 0px rem(20px);
		flex: none;
	}
	li.disabled {
		span{
			color: #f3f3f3;
		}
	}
}
