.header{
    display: flex;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #EBEBEB;
    margin-bottom: 20px;
}

.left{
    justify-content: flex-start;
}

.right{
    justify-content: flex-end;
    img{
        margin-left: 15px;
    }
}

.logo{
    font-family: HelveticaNeueLTStd-Md;
    font-size: 14px;
    color: #7F7F7F;
    margin-left: 23px;
}