@import '../../../../styles/mobile/variables';
@import '../../../../styles/mobile/mixins';

.label {
  color: #A4A4A4;
  font-size: 11px;
  line-height: 1;
}

.inputChange {
  flex-flow: row nowrap;
  &Input {
	flex: 1 0 auto;
  }
  &Link {
	flex: 0 0 auto;
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #D8D8D8;
	font-size: 11px;
  }
}

.tempPPContainer {
  display: inline-flex;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-family: font-family('Lato-Bold');
  font-size: 32px;
  text-transform: uppercase;
  overflow: hidden;
}
.tempPP {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.buyer {
  background: #191919;
  color: #FFF;
}
.seller {
  background: #D8D8D8;
  color: #5A5A5A;
}
.big {
  width: 80px;
  height: 80px;
  font-size: 44px;
}
.editPP {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: rgba(63,208,187,0.90);
  color: #fff;
  font-family: font-family('Lato-Bold');
  font-size: 11px;
  line-height: 2;
}
.orderIconCtr {
  display: inline-flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: #ECECEC;
}
.orderList {
  > li {
	margin-bottom: 15px;
	&:last-child {
	  margin-bottom: 0;
	}
  }
}

.orderPaymentList {
  list-style-type: none;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #D8D8D8;
  > li {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
  }
}

.orderPaymentTotal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profileBackground{
	position: fixed;
	background: #F5F5F5;
	height: 100%;
	width: 100%;
	top: 0;
	max-width: 480px;
}