.sprites {  
	background-position: top left;
	background-repeat: no-repeat;
	width: 15px; 
	height: 15px;
	display: inline-block;
	vertical-align: middle;
} 

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	.sprites { 
		background-size:839px;
	}
}

// .sprites { background-position: 0 0; width: 411px; height: 23px; } 

.cvv { background-position: 0 0; width: 35px; height: 23px; } 
.payment-option { background-position: -35px 0; width: 73px; } 
.gosend { background-position: -108px 0; width: 53px; height: 9px; } 
.o2o-off { background-position: -161px 0; } 
.truck-on { background-position: -176px 0; width: 23px; height: 13px; } 
.truck-off { background-position: -199px 0; width: 23px; height: 13px; } 
.o2o-on { background-position: -222px 0; }

// credit-card
.visa{ background-position: -35px 0; width: 25px; height: 13px; }
.jcb { background-position: -90px 0; width: 18px; }
.mastercard{ background-position: -63px 0; width: 25px; }
.master-card{ background-position: -63px 0; width: 25px; }
// e-money
.mandiri-ecash { background-position: -491px 0; width: 50px; height: 25px; } 

// internet-banking
.bca-klikpay { background-position: -237px 0; width: 53px; height: 10px; } 
.nobu-ewallet { background-position: -541px 0; width: 28px; height: 27px; } 
.ovo { background-position: -461px 0; width: 30px; height: 11px; } 
.klikbca { background-position: -388px 0; width: 23px; height: 20px; } 
.bri-epay { background-position: -290px 0; width: 48px;height:10px; } 
.cimb-clicks { background-position: -338px 0; width: 50px; height: 8px; } 

// convenience-store
.indomaret { background-position: -767px 0; width: 40px; } 
.alfamidi { background-position: -649px 0; width: 40px; height: 12px; }
.alfamart { background-position: -727px 0; width: 40px; }  
.ceritamart { background-position: -689px 0; width: 38px; height: 12px; } 
.pos-pay { background-position: -807px 0; width: 32px; height: 22px; } 
.lawson { background-position: -609px 0; width: 40px; height: 7px; } 
.dandan { background-position: -569px 0; width: 40px; height: 19px; } 