@import "_variables.scss";
@import "_mixins.scss";
@import "_typography.scss";
@import "_typography.scss";

@include font-face("Helvetica-Roman", "Helvetica");
@include font-face("Helvetica-Medium", "Helvetica");
@include font-face("Helvetica-Bold", "Helvetica");
@include font-face("Lato-Light", "Lato");
@include font-face("Lato-Regular", "Lato");
@include font-face("Lato-Bold", "Lato");

:root {
	font-size: $base-font-size;
}

* {
	cursor: pointer;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:not(input):not(textarea):not(button) {
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:global {
	html {
	  	text-rendering: geometricPrecision;
	  	transform-style: preserve-3d;
	  	backface-visibility: hidden;
	  	-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
	  	-webkit-overflow-scrolling: touch;
	}
	html,
	body {
		font-family: font-family("Lato-Regular");
		font-size: rem(13px);
		height: 100%;
		position: relative;
		overflow-y: scroll;
		color: color(--primary);
		line-height: 20px;
		background-color: #fff;
		-webkit-overflow-scrolling: touch;
	}

	// GENERATE GLOBAL UTILITIES

	@each $value in $color-list {
		.font-color#{nth($value, 1)} {
			color: nth($value, 2);
		}

		.bg#{nth($value, 1)} {
			background-color: nth($value, 2);
		}

		.border#{nth($value, 1)} {
			border-color: nth($value, 2);
		}
	}

	@each $value in $font-lists {
		.font#{nth($value, 1)} {
			font-family: font-family(nth($value, 2));
		}
	}

	.SVGInline {
		display: inline-flex;
	}

	img {
		display: block;
		max-width: 100%;
		align-self: center;
	}

	#root,
	article,
	div,
	footer,
	header,
	main,
	nav,
	section {
		align-items: stretch;
		border: 0 solid #000;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		margin: 0;
		padding: 0;
		position: relative;

	}
	.--disable-flex {
		display: block;
		flex: none;
	}
	body,
	html {
		height: 100%;
	}

	#root > main {
		height: 100%;
		> div:first-child {
			min-height: 100%;
		}
	}

	a {
		color: #3c5a98;
		text-decoration: none;
		font-family: "Lato-Regular";
	}
	p {
		font-size: 13px;
		text-decoration: none;
		font-family: "Lato-Regular";
		color: #191919;
	}

	button{
		-webkit-appearance: none;
		outline: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		background: transparent;
		border: none;
	}

	hr{
		border: none;
		height: 1px;
		background: #D8D8D8;
	}
	#root {
	  	width: 100%;
		// overflow-y: hidden;
		max-width: $max-width-container;
		position: relative;
		margin: 0 auto;
		.switch-wrapper {
			height: 100%;
			background: transparent;
			> div {
				transition: opacity 0.3s ease;
				height: 100%;
			}
		}

		.child-wrapper {
			position: absolute;
			top: 0px;
			left: 0px;
		  	right: 0px;
		  	z-index: 11;
		}

		.font-small {
			font-size: 10px;
		}
		.font-medium {
			font-size: 14px;
		}
		.font-large {
			font-size: 18px;
		}
		.text-right {
			text-align: right;
		}
		.text-center {
			text-align: center;
		}
		.text-uppercase{
			text-transform: uppercase;
		}
		.text-lowercase{
			text-transform: lowercase;
		}
		.text-left {
			text-align: left;
		}
		.pull-left {
			float: left;
		}
		.pull-right {
			float: right;
		}
		// https://getbootstrap.com/docs/4.0/utilities/display/
		.d-none {
			display: none !important;
		}
		.d-block {
			display: block !important;
		}
		.d-inline-block {
			display: inline-block !important;
		}
		.d-flex {
			display: flex !important;
		}

		.text-elipsis {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.text-muted{
			font-family: 'Lato-Regular';
			color: #A4A4A4;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-decoration: none;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			> span{
				margin-left: 5px;
			}
		}

		.full-height {
			height: 100%;
		}

		.margin--small {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.margin--medium {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.margin--large {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.margin--none-bottom {
			margin-bottom: 0px;
		}
		
		.margin--none-top {
			margin-top: 0px;
		}

		.padding--small {
			padding-left: 5px;
			padding-right: 5px;
		}
		.padding--normal {
			padding-left: 10px;
			padding-right: 10px;
		}

		.padding--medium {
			padding-left: 15px;
			padding-right: 15px;
		}

		.padding--large {
			padding-left: 30px;
			padding-right: 30px;
		}

		.padding--none-left {
			padding-left: 0px;
		}
		
		.padding--none-right {
			padding-right: 0px;
		}
		
		.padding--none{
			padding: 0px;
		}

		.margin--none {
			margin-top: 0px;
			margin-right: 0px;
		}
		.border-top {
			border-top: 1px solid #DBDBDB;
		}
		.border-bottom {
			border-bottom: 1px solid #DBDBDB;
		}
		.border-left {
			border-left: 1px solid #DBDBDB;
		}
		.border-right {
			border-right: 1px solid #DBDBDB;
		}
		
		.border-white-top {
			border-top: 1px solid #fff;
		}
		.border-white-bottom {
			border-bottom: 1px solid #fff;
		}
		.border-white-left {
			border-left: 1px solid #fff;
		}
		.border-white-right {
			border-right: 1px solid #fff;
		}

		.flex-row {
			flex-direction: row;
		}
		.flex-wrap {
			flex-wrap: wrap;
		}
		.flex-middle {
			align-items: center;
		}
		.flex-spaceBetween {
			justify-content: space-between;
		}
		.flex-center{
			justify-content: center;
		}
		.text-line-through{
			text-decoration: line-through;
		}
	}

	.thumbnail-small{
		display: flex !important;
		justify-content: center;
    	align-items: center;
		img{
			max-height: 140px;
    		width: auto !important;
		}
	}
}

@keyframes :global(fadeIn) {
  0% {
	visibility: visible;
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}

@keyframes :global(fadeOut) {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
	visibility: hidden;
  }
}
