@import 'mixins';
@import 'variables';


.card{
    color: color(black);
    background: #FFFFFF;
    box-shadow: 0 -3px 4px 0 rgba(239,239,239,0.50);
    border: 1px solid border(color);
    padding: rem(20px);
    position: relative;
    flex-grow: 1;
    display: flex;
    outline: 0px;
}

.radius{
    border-radius: border(radius);
}

.Title{
    color: color(black);
    margin-bottom: rem(10px);
    @include font(medium);
}

.selected{
    border: 1px solid color(yellow);
    position: relative;
    &:before{
        position: absolute;
        top: 0px;
        right: 0px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent color(yellow) transparent transparent;
    }
    &:after{
        content: "\f00c";
        font-family: "FontAwesome", sans-serif;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        font-size: rem(12px);
        text-rendering: auto;
        font-style: normal;
        -webkit-font-smoothing: antialiased;   
        position: absolute;
        right: rem(3px);
        top: rem(1px);
    }
}