@import 'mixins';
@import 'variables';

@mixin inputStyle($inputColor){
	border-color: map-deep-get($color, $inputColor, base);
	color: map-deep-get($color, $inputColor, base);
	&:focus{
		border-color: map-deep-get($color, $inputColor, base);
	}
	+ .msg{
		color: map-deep-get($color, $inputColor, base);
	}
}

.inputWrapper{
	position: relative;
	width: 100%;
}

.input{
	background: #FFFFFF;
	border: 1px solid border(color);
	border-radius: border(radius);
	font-size: 12px;
	color: color(black);
	height: 35px;
	padding: 0px 15px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	&:focus{
		outline: 0px;
		border: 1px solid border(color, hover);
	}
	&[type="number"]{
		overflow: hidden;
	}
}

.sprites, .icon{
	position: absolute;
	right: 10px;
	top: 0px;
	height: 35px;
	display: flex;
    align-items: center;
}

// VARIANT
.green{
	@include inputStyle(green);
	+ .message, + .icon{
		color: color(green);
	}
}

.yellow{
	@include inputStyle(yellow);
	+ .message, + .icon{
		color: color(yellow);
	}
}

.red{
	@include inputStyle(red);
	+ .message, + .icon{
		color: color(red);
	}
}

.purple{
	@include inputStyle(purple);
	+ .message, + .icon{
		color: color(purple);
	}
	&:disabled{
		background: #F5F5F5;
		opacity: 1;
	}
}


// END VARIANT

// SIZE
.small{
	height: 27px;
	~ .sprites, 
	~ .icon{
		height: 27px;
	}
}

.medium{
	height: 35px;
	~ .sprites, 
	~ .icon{
		height: 35px;
	}
}

.large{
	height: 45px;
	~ .sprites, 
	~ .icon{
		height: 45px;
	}
}
// END SIZE

label{
	color: #4a4a4a;
	font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
	~ .sprites, 
	~ .icon{
		top: 20px;
	} 
}

// Boolean
.message{
	margin-top: 5px;
	display: block;
	font-size: 10px;
	text-align: right;
}

.horizontal{
	display: flex;
	label{
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		margin-right: rem(10px);
		text-align: left;
		padding-top: rem(10px);
	}
	input{
		flex: 1;
	}
}

.inputBody{
	display: flex;
	flex-basis: 0;
	flex-grow: 3;
	flex-shrink: 1;
	flex-direction: column;
	position: relative;
}

.ovo{
	position: relative;
	> i {
		position: absolute;
		right: 0px;
		top: 3px;
	}
}