@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';


@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}



@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}


/* Round spinner */
.round {
	vertical-align: middle;
	animation: spin 2s infinite linear;
	align-self: center;
	stroke:color(--primary)
}

.path {
	animation: dash calc(2s / 1.5) ease-in-out infinite;
	stroke-linecap: round;
}

/* Size */
.small {
	&.round {
		width: rem(10px);
		height: rem(10px);
		& .path {
			stroke-width: rem(2px);
		}
	}
}

.normal {
	&.round {
		width: rem(14px);
		height: rem(14px);
		& .path {
			stroke-width: rem(4px);
		}
	}
}

.large {
	&.round {
		width: rem(18px);
		height: rem(18px);
		& .path {
			stroke-width: rem(8px)
		}
	}
}