.Level{
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1;
}

.left{
	flex:1;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.right{
	flex:1;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.item{
	align-items: center;
	display: flex;
	flex-basis: auto;
	justify-content: center;
	margin-bottom: 10px;
	flex-grow: 1;
}

.padded{
	.item {
		padding-left: 5px;
		padding-right: 5px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}

.noMargin{
	margin: 0px;
	> div{
		margin: 0px;
	}
}