.hastagClass{
    > div:last-child > div{
        background: transparent;
    }
}

.hashtagThumbnail{
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        opacity: 0;
    }
}
