@import 'mixins';
@import 'variables';

.Header{
	@include font(medium);
	line-height: 1.2;
	font-size: 14px;
	color: color(black);
	padding: 20px 0px;
}

.mobile{
	background: #DEDEDE;
	font-size: 12px;
	color: #4A4A4A;
	display: flex;
    align-items: center;
	padding: 10px 15px;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-right: 45px;
	min-height: 50px;
	+ .Header{
		padding-top: 0;
		padding-right: 15px;
	}
}