@import 'mixins';
@import 'variables';

.container{
    width: rem(1200px);
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.fluid{
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
    > * {
        display: inline-flex;
        flex:1;
        align-items: center;
    }
}