@import 'mixins';
@import 'variables';

.checkout{
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;   
    height: 100%;
}

.title{
    @include font(bold);
    font-size: 12px;
    color: #4A4A4A;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    span{
        @include font(normal);
    }
}

.disabled{
    opacity: 0.1;
    pointer-events: none;
    position: relative;
    * {
        pointer-events: none;
    }
    &:after{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 1;
    }
}


.voucherLabel{
	align-self: flex-start;
	padding-top: 10px;
}

.overflow {
	display: block;
	flex: 1;
	margin-right: -15px;
	padding-right: 15px;
}


.fullHeight{
    height: 100%;
}

.checkOutAction{
    padding: 15px 20px;
    border-top: 1px solid #DEDEDE;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: #fff;
}

.hasCheckoutAction{
    padding-bottom: rem(90px);
}

.CheckoutTitle{
    background: #F5F5F5;
    @include font(bold);
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
    .price{
        color: color(red);
    }
}

.header{
	display: flex;
	margin-bottom: 10px;
}

.desc{
	font-size: 10px;
	padding-left: 7px;
	color: color(orange);
}

.discountName{
	width: 210px;
}