@import 'mixins';
@import 'variables';

.TooltipWrapper{
	position: relative;
	float: right;
	&.right{
		.infoButton{
			left: auto;
			right: 0px;
		}
	}
}

.infoButton{
	cursor: pointer;
	display: inline-block;
	left: 0px;
	margin-top: 5px;
	&:hover{
		+ .content{
			display: block;
		}
	}
}

.content{
	background: color(black);
	border-radius: border(radius);
	color: #fff;
	padding: 15px;
	font-size: 11px;
	position: absolute;
	max-width: 100%;
	z-index: 1;
	right: 25px;
	top: 0px;
	transform: translateY(-50%);
	display: none;
	&:hover{
		display: block;
	}
	&:after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3.5px 0 3.5px 7px;
		border-color: transparent transparent transparent color(black);
		position: absolute;
		right: -7px;
		top: 50%;
		margin-top: 7px;
	}
	&:before{
		content: '';
		position: absolute;
		right: -18px;
		width: 20px;
		top: 0%;
		height: 100%;
	}
}

.right{
	.content{
		right: auto;
		left: 25px;		
		&:after{
			content: '';
			right:auto;
			left: -7px;
			margin-top: 7px;
			border-width: 3.5px 7px 3.5px 0;
			border-color: transparent color(black) transparent transparent;
		}
	}
}

.left{
	.content{
		right: 25px;
		left: auto;		
		&:after{
			content: '';
			right:auto;
			right: -7px;
			margin-top: 7px;
			border-width: 3.5px 0 3.5px 7px;
			border-color: transparent transparent transparent color(black);
		}
	}
}

.align_left{
	text-align: left;
}

.align_right{
	text-align: right;
}