@import 'mixins';
@import 'variables';

@mixin alertStyle($color){
	background: map-deep-get($alertColor, $color, base);
	color:  map-deep-get($alertColor, $color, darker);
	border:1px solid  map-deep-get($alertColor, $color, base);
}

.alert{
	border-radius: border(radius);
	background-color: #FAFAFA;
	border-color: border(color, hover);
	display: flex;
	padding: rem(10px);
	margin-bottom: rem(15px);
	justify-content: space-between;
	align-items: flex-start;
	i{
		margin: 0px 5px;
	}
	> span{
		flex:1;
	}
}

// COLOR

.yellow{
	@include alertStyle(yellow);
}

.red{
	background: #F2DEDF;
	border: 1px solid #DFA4A4;
	color: #BE5959;
}

.green{
	@include alertStyle(green);
}

// END of COLOR


// ALIGN
.left{ text-align: left; }
.center{ text-align: center; }
.right{ text-align: right; }

// END OF ALIGN

.icon{
	margin:0px rem(5px);
	font-size: 14px;
}

.close{
	padding: 0px rem(5px);
	color: inherit;
}