@import 'mixins';
@import 'variables';

.box {
	background: #FAFAFA;
	border: 1px solid border(color);
	border-radius: border(radius);
	padding: rem(15px) rem(20px);
	margin-bottom: rem(15px);
	outline: 0px;
	&:last-child{
		margin-bottom: 0;
	}
}

.row{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	> * {
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
			flex: none;
		}
	}
}

.content {
	min-width: rem(100px);
	height: rem(200px);
}

.accordion{
	background: transparent;
}