@import 'mixins';
@import 'variables';

.col{
    // padding:0px 10px;
    // flex-basis: 0;
    // flex-grow: 1;
    // flex-shrink: 1;
    // flex:1;
    // align-items: stretch;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0px rem(10px);
}

.flex{
    display: flex;
    flex-direction: column;
}

@for $i from 1 through 12 {
    &.col-#{$i} {
        // padding:0px 10px;
        // flex: 1 1 auto;
        // display: flex;
        // flex-direction: column;
        min-height: 1px;
        width: 100% / 12 * $i;
        flex: none;
    }
}