@import 'mixins';
@import 'variables';

.Alert{
	border-radius: border(radius);
	background-color: #FAFAFA;
	border-color: border(color, hover);
	display: flex;
	margin-bottom: rem(15px);
	justify-content: space-between;
}

// COLOR

.yellow{
	background: #FEF5EA;
	padding: rem(10px);
	color: #AF9F74;
	border-color: #AF9F74;
}

.red{
	background: #F2DEDF;
	padding: rem(10px);
	color: #BE5959;
	border-color: #DFA4A4;
}

// END of COLOR


// ALIGN
.left{
	text-align: center;
}
.center{
	text-align: center;
}
.right{
	text-align: center;
}

// END OF ALIGN

.icon{
	margin:0px rem(5px);
	font-size: 14px;
}

.close{
	padding: 0px rem(5px);
	color: inherit;
}