@import 'mixins';
@import 'variables';

.Alert{
	border-radius: 4px;
	background-color: #FAFAFA;
	border-color: #DEDEDE;
	display: flex;
	margin-bottom: 15px;
	justify-content: space-between;
}

.warning{
	background: #FEF5EA;
	padding: 10px;
	color: #AF9F74;
	border-color: #AF9F74;
}

.error{
	background: #F2DEDF;
	padding: 10px;
	color: #BE5959;
	border-color: #DFA4A4;
}

.alignCenter{
	text-align: center;
}

.icon{
	margin:0px 5px;
	font-size: 14px;
}

.close{
	padding: 0px 5px;
	color: inherit;
}