@import '../styles/mobile/variables';
@import '../styles/mobile/mixins';
.filterNavigation {
    position: absolute;
    width: 100%;
    top: 100%;
  	height: 100vh;
    z-index: 1;
  	background: rgba(0, 0, 0, 0.4);
  	max-width: 480px;
}

.filterNavigationFixed {
    position: fixed;
    top: 100px;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    max-width: 480px;
}

.filterNavigationFixedStore {
    position: fixed;
    top: 114px;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    max-width: 480px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.overlayFixed{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}