@import 'mixins';
@import 'variables';


@mixin buttonStyle($buttonColor){
	background-color: map-deep-get($color, $buttonColor, base);
	&:hover{
		background-color: map-deep-get($color, $buttonColor, hover);
	}
	&.outline{
		border-color: map-deep-get($color, $buttonColor, base);
		color: map-deep-get($color, $buttonColor, base);
		background-color: transparent;
		&:hover{
			border-color: map-deep-get($color, $buttonColor, hover);
			color: map-deep-get($color, $buttonColor, hover);
			background-color: transparent;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.button{
	vertical-align: middle;
	align-items: center;
	border-radius: border(radius);
	box-shadow: none;
	justify-content: center;
	text-align: center;
    white-space: nowrap;
	transition: all 0.2s ease;
	font-size: rem(12px);
	line-height: 1;
	height: rem(35px);
	padding: 0rem rem(10px);
	color: #fff;
	@include font(medium);
	i{
		margin-right: rem(5px);
		margin-top: rem(-2px);
	}
}

// VARIANT
.red{
	@include buttonStyle(red);
}

.green{
	@include buttonStyle(green);
}

.yellow{
	@include buttonStyle(yellow);
}	

.dark{
	@include buttonStyle(black);
}

.orange{
	@include buttonStyle(orange);
}

.grey{
	color: color(grey);
	@include buttonStyle(gainsboro);
	border-color: border(color);
}
// END OF VARIANT

// SIZE
.small{
	height: rem(27px);
	font-size: rem(10px);
	i{
		font-size: rem(12px);
	}
}

.medium{
	height: rem(35px);
}

.large{
	height: rem(37px);
	font-size: rem(15px);
	i{
		font-size: rem(18px);
	}
}
// END OF SIZE


// ICON POSITION
.iconPosition_right{
	i{
		margin-left: rem(5px);
	}
}

.iconPosition_left{
	i{
		margin-right: rem(5px);
	}
}

// END ICON POSITION

// Boolean
.block{
	display: block;
	width: 100%;
}

.clean{
	padding: 0px;
	font-size: rem(12px);
	height: auto;
	@include font(normal);
}

[disabled]{
	opacity: 0.5;
	cursor: not-allowed;
}

.loading{
	pointer-events: none;
	color: transparent;
	opacity: 0.8;
	&:after {
		content: "";
		animation: spin 500ms infinite linear;
		border: 2px solid #fff;
		border-radius: 50%;
		border-right-color: transparent;
		border-top-color: transparent;
		display: block;
		height: rem(12px);
		width: rem(12px);
		left: calc(50% - (14px / 2));
		top: calc(50% - (14px / 2));
		position: absolute;
	}
}

// end of Boolean