@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container {
  display: flex;
  flex-flow: row nowrap;
  background: #F5F5F5;
  color: color(--primary-ext-2);
  padding: 10px;
}
.header {

}
.content {

}
.rounded {
  border-radius: 6px;
}

.blue {
  color: color(--primary);
  background-color: #ebfaf8;
}
