@import 'mobile/variables';
@import 'mobile/mixins';

.container{
	font-family: font-family('Lato-normal');
	text-align: center;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: rem(10px);
	border: 1px solid #fff;
}

.attached{
	position: absolute;
	right: -3px;
	top: 2px;
}

.circle{
	height: rem(18px);
	width: rem(18px);
}

.bottom-right{
	top: auto;
	bottom: 2px;
}

.rounded{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: color(--primary-ext-1);
	border-color: color(--primary-ext-1);
	color: color(--white);
	border-radius: 0px;
	padding: 0px rem(5px);
	&.red{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: rem(14px);
		border-color: color(--primary-ext-1);
		color: color(--white);
	}
}


.medium{
	height: rem(30px);
	width: rem(30px);
}