@import 'mobile/variables';
@import 'mobile/mixins';

.container{
	font-family: font-family('Lato-normal');
	text-align: center;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: rem(10px);
	border: 1px solid color(white);
}

.attached{
	position: absolute;
	right: -3px;
	top: 2px;
}

.circle{
	height: rem(18px);
	width: rem(18px);
}

.rounded{
	border-radius: 4px;
	padding: 0px rem(5px);
	&.red{
		border-color: color(--secondary);
		color: color(--secondary);
	}
}


.medium{
	height: rem(30px);
	width: rem(30px);
}