.container{
	background: #fff;
}

.section{
	padding: 20px 15px;
	border-bottom: 1px solid #D8D8D8;
	font-family: 'Lato-Regular';
}

.heading{
	color: #A4A4A4;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 15px;
	margin-bottom: 15px;
	font-family: inherit;
	letter-spacing: 1px;
}

.list{
	list-style: none;
	padding: 0px;
	li{
		a{
			display: block;
			padding: 10px 0px;
			color: #191919;
			font-size: 14px;
			font-family: inherit;
			line-height: 17px;
			text-decoration: none;
		}
	}
}