@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container {
  display: block;
  width: 100%;
  line-height: 0;
  position: relative;
}

textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: map-get($font-size, --normal );
}

.input {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: rem(14px);
  border: 0;
  outline: none;
  border-radius: rem(0);
  cursor: text;
  background-color: #F7F7F7;
  box-sizing: border-box;
  width: 100%;
  height: rem(40px);
  padding: rem(10px) rem(15px);
  -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  resize: none;
  border: 1px solid #F7F7F7;
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: rem(14px);
    color: color(--primary);
  }
  &[type="radio"] {
    display: inline-flex;
    width: 40px;
    border-radius: 5px;
  }
}

.primary input {
  background-color: color(--white);
  border: 1px solid color(--white);
}

.flat{
  &:not(:last-child){
    margin-bottom: 20px
  }
  input {
    background-color: #F7F7F7;
    padding: rem(10px) rem(15px);
    border-radius: 0px;
    font-size: 14px;
    outline: 0px;
    border: 1px solid #F7F7F7;
    height: 40px;
  }
  textarea {
    background: #ffffff;
    padding: rem(10px) rem(15px);
    border-radius: 0px;
    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
    outline: 0px;
    border: 1px solid #999999;
    border-bottom: 1px solid #CCCCCC;
    height: 110px;
  }
}

.wrapper{
  position: relative;
  margin-bottom: rem(10px);
}

.iconLeft, .iconRight, .textCounter{
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(40px)
}

.iconLeft{
  left: 0px;
  ~ *{
    padding-left: rem(40px)
  }
}

.iconRight{
  right: 0px;
  padding-left: 0px;
  + *{
    padding-right: rem(40px)
  }
}

.textCounter{
  align-items: right;
  right: 10px;
  justify-content: flex-end;
  padding-left: 0px;
  padding-bottom: 1px;
  top: 0px;
  z-index: 1;
}

.label, .hint, .textCounter {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: map-get($font-size, --small );
  line-height: 1.4;
  color: color(--primary-ext-2);
  display: flex;
}

.label{
  position: absolute;
  left: 15px;
  top: 12px;
  pointer-events: none;
  // opacity: 0;
  transition: all 0.3s ease;
  text-align: left;
}

.showLabel{
  .label{
    opacity: 1;
    left: 0px;
    top: -20px;
    text-align: left;
  }
}

.hint{
  font-size: map-get($font-size, --small );
  justify-content: flex-end;
  margin-top: 5px;
}


.disabled {
  & .label {
    cursor: not-allowed;
  }

  & .input {
    cursor: not-allowed;
    opacity: .6;
  }
  & .textarea {
    cursor: not-allowed;
    opacity: .6;
  }
}

.success {
  & .input {

  }

  & .hint {

  }
}

.error {
  & .input {
    border-color: #FF1B1B;
    color: #FF1B1B;
  }

  & .textarea {
    border-color: #FF1B1B;
    color: #FF1B1B;
  }

  & .hint {
    color: #FF1B1B;
  }
}


.small {
  & .select {
  }
}

.normal {
  & .input {
  }
}

.white{
  input{
    background-color: #fff;
    border-color: #D8D8D8;
  }
  textarea{
    background-color: #fff;
    border-color: #D8D8D8;
  }
}

.partitioned{
  width:290px;
  margin: 0 auto;
  overflow: hidden;
  .wrapper{
    left: 0;
    position: sticky;
  }
  input{
    padding-left: 12px;
    letter-spacing: 38px;
    border: 0;
    background-color: transparent;
    background-image: linear-gradient(to left, #D8D8D8 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 340px;
    font-family: 'Lato-Bold';
    font-size: 20px;
    min-width: 340px;
    height: 35px;
    border-radius: 0px;
  }
  &.error{
    input{
      background-image: linear-gradient(to left, #FF1B1B 70%, rgba(255, 255, 255, 0) 0%);
    }
  }
}

