@import '../../../styles/mobile/variables';
@import '../../../styles/mobile/mixins';

.container{
	flex-grow: 1;
	order: 4;
  	background-color: color(white);
  	padding-top: 60px;
}

.page{
	flex-grow: 1;
    margin: 0 auto;
    max-width: rem(935px);
    width: 100%;
}

.white {
  	background-color: color(white);
}

.transparent {
  	background-color: transparent;
}

.grey {
  	background-color: color(--primary-ext-6);
}
