@import '../../../../styles/mobile/variables';
@import '../../../../styles/mobile/mixins';
.filter {
    padding: 0px rem(15px);
    input {
        text-align: center;
    }
    button {
        padding: 5px;
    }
}

.listFilterKey {
    flex-direction: row;
    width: 100%;
    padding: 0 rem(10px);
    margin: rem(15px) 0;
    flex-wrap: wrap;
    justify-content: center;
    button {
        display: inline-flex;
        font-family: font-family(--lato-regular);
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 26px;
        padding: 0px rem(5px);
    }
}

.backgroundCover {
    text-align: center;
    padding: 80px 0px 20px 0px;
}

.coverImage {
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.headerClear {
    >div {
        >div {
            background: transparent;
            border: 0px;
            box-shadow: none;
            svg {
                path {
                    stroke: #fff;
                }
            }
            color: #fff;
        }
    }
}